<div class="page">
    
 

    <div class="main">

        <h1>Focus Hour</h1>

        <div>
            <p [@phrase1]>We have goals but sometimes distractions get in the way...</p>
            
            <p [@phrase2]>Helps you focus on things that matter one hour at a time!</p>
        </div>
    

        <div [@main]> 
           
            <p>Sign in with:</p>
            <img src="../../assets/btn_google_signin_light_normal_web.png" alt="">
            <p>Continue without signing in</p>
        </div>
    </div>

   
</div>